<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="AccountStatementCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
			<div ng-repeat="acc in data.accList" ng-if="acc.AC_TYPE == 'PPF'" ng-click="viewAccDtls(acc.AC_NO)">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						PPF
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Name
								</div>
								<div class="col-50 text-right">
									{{acc.AC_NAME}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Account number
								</div>
								<div class="col-50 text-right">
									{{acc.AC_NO}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Available Balance
								</div>
								<div class="col-50 text-right">
									Rs. {{acc.AVL_BAL}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
					</div>
				</div>
				<br/>
			</div>	
		<div class="text-center">
			<button class="button button-gradient" ng-click="showAlert('ppf')">GENERATE MINI STATEMENT</button>
		</div>
			<div class="row italic">
				<div class="col wand">
					<i class="text-orange wand ion-wand"></i>
				</div>
					<div class="col">Click on an account number to get account details</div>
			</div>
		</div>
  </ion-content>
</ion-view>
