<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="AccountsCtrl">
  <ion-content class="bob-bg padding">
    <div class="card bob-card round5 text-center home-panel no-shadow">
			<div class="item item-divider">
				ACCOUNTS &amp; DEPOSITS
			</div>
			<div class="menu-grid accounts-grid">
				<br/>
				<div class="text-center tap-text"><i class="text-orange ion-wand"></i>Tap on each box to view details.</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box"  ng-click="viewAccs('ta')" >
							<img src="img/cta-account-transaction.png"/>
							<div class="two-lines">
							Transaction<br/>Account
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
					<div class="col col-50">
						<div class="icon-box"  ng-click="viewAccs('td')" >
							<img src="img/cta-account-deposit.png"/>
							<div class="two-lines">
								Term Deposit
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box" ng-click="viewAccs('la')" >
							<img src="img/cta-account-loan.png"/>
							<div class="two-lines">
								Loan Account
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>

					<div class="col col-50">
						<div class="icon-box" ng-click="viewAccs('ppf')" >
							<img src="img/cta-account-PPf.png"/>
							<div class="two-lines">
								PPF Account
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
			</div>
		</div>	
		<br/>
		<br/>
		<div class="row italic">
			<div class="col wand">
				<i class="text-orange wand ion-wand"></i>
			</div>
				<div class="col">You need to link your PPF Account</div>
		</div>
		</div>

  </ion-content>
</ion-view>
