<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="DetailsCtrl">

  <ion-content class="bob-bg padding" >
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						ACCOUNT DETAILS
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item" ng-repeat="(k,v) in data" ng-if="v">
							<div class="row">
								<div class="col col-label">
									<span  ng-bind-html="k"></span>
								</div>
								<div class="col text-right" ng-bind-html="v">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
  </ion-content>
</ion-view>
