<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="NeftToAccountCtrl" cache-view="false">

	<ion-content class="bob-bg padding" >
		<ng-form name="myForm" id="frmLogin">
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
 					BENEFICIARY REGISTRATION:
					<br/>
					NEFT / IMPS 
					<span class="italic"> to </span>
					ACCOUNT NUMBER
				</div>
			</div>
			<div class="card bob-card bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Name
								</div>
								<div class="col-50 text-right">
									{{data.btAcntNum}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Account Number
								</div>
								<div class="col-50 text-right">
									{{data.toAcc}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									IFSC
								</div>
								<div class="col-50 text-right">
									{{data.ifsc}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Bank Name
								</div>
								<div class="col-50 wrapped text-right">
									{{data.bank_name}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Branch Name
								</div>
								<div class="col-50 text-right wrapped">
									{{data.branch_name}}
								</div>
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom" ng-show="step ==0">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Name
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.toAcc" ng-minlength="5"  my-Maxlength="50" required ng-blur="checkAmount()">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Account Number
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.toAcc" ng-minlength="5"  my-Maxlength="50" required ng-blur="checkAmount()">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>IFSC</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.ifsc" ng-minlength="11"  ng-pattern="/^[A-Z|a-z]{4}[0][\d]{6}$/" my-Maxlength="11" ng-blur="validateIFSC(data.ifsc.$valid)" required>
								</div>
							</div>
						</div>						
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Bank Name</span>
								</div>
								<div class="col-50">
									{{data.bank_name}}
								</div>
							</div>
						</div>

						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Branch Name</span>
								</div>
								<div class="col-50">
									{{data.branch_name}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="validIMPSDetails()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="cancel()">
						Cancel
					</button>
				</div>
			</div>
		</div>
		</ng-form>
	</ion-content>
</ion-view>
