<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						BENEFICIARY MANAGEMENT
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="list bob-card-list text-center straight-bottom">
						<div class="item text-center" ui-sref="app.mobile-recharge">
							<div class="row">
								<div class="col-90" ui-sref="app.beneficiary-registration">
									Beneficiary Registration
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.neft">
							<div class="row">
								<div class="col-90">
									View Beneficiary
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.ifsc-transfer">
							<div class="row">
								<div class="col-90">
									De-registration
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.mobile-transfer">
							<div class="row">
								<div class="col-90">
										IMPS to Mobile
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.aadhaar-transfer">
							<div class="row">
								<div class="col-90">
										IMPS to Aadhaar
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.merchant-transfer">
							<div class="row">
								<div class="col-90">
										IMPS to Merchant
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

					</div>
				</div>
				<br/>
				<div class="row italic">
					<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
					<div class="col">Tap View Beneficiary to directly recharge registered beneficiaries.</div>
				</div>

			</div>
		</div>
  </ion-content>
</ion-view>
