<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						BENEFICIARY REGISTRATION
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center straight-bottom">
						<div class="item text-center" ui-sref="app.imps-transfer">
							<div class="row">
								<div class="col-90">
									Third party transfer
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.beneficiary-neft-to-account">
							<div class="row">
								<div class="col-90">
									NEFT
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.imps-account">
							<div class="row">
								<div class="col-90">
									IMPS to Account
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.imps-to-mmid">
							<div class="row">
								<div class="col-90">
										IMPS to Mobile
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.imps-aadhaar">
							<div class="row">
								<div class="col-90">
										IMPS to Aadhaar
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.imps-merchant">
							<div class="row">
								<div class="col-90">
										IMPS to Merchant
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
