<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						SELECT BENEFICIARY
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
					  <ion-scroll direction="y" style="height: 280px;"> 
						<div class="item" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">
							<div class="row beneficiary-row">
								<div class="col col-10">
									<input type="radio">
								</div>
								<div class="col col-50">
									Beneficiary Name
								</div>
								<div class="col col-40">
									12345677890
								</div>
							</div>
						</div>
					  </ion-scroll>
					</div>
				</div>
			</div>
			<br/>
			<a class="text-orange" ui-sref="app.beneficiary-registration">Add New Beneficiary</a>
				<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-chevron-left button button-gradient" ng-click="showAlert()">	Previous
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-right ion-chevron-right" ng-click="showValidating()">
								Next
							</button>
						</div>
					</div>

		</div>
  </ion-content>
</ion-view>
