<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="AadhaarTransferCtrl">

<ion-content class="bob-bg padding" ng-controller="ChangeMpinCtrl">
     <div class="">
   		 <ng-form name="myForm" id="frmLogin">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom straight">
					<div class="item item-divider">
						CHANGE MPIN
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom">
					<div class="item">
						<label>
							<span class="input-label">Current MPIN</span>
						</label>
						<input type="password" placeholder="Enter MPIN" ng-model="current_mpin" class="bob-input" ng-blur="validateCMPIN()" ng-pattern="/^\d{4}$/" ng-minlength="4" my-Maxlength="4" required/>						
						<span>{{data.errMpinMsg}}</span>
						<br/>
					</div>
					<div class="item">
						<label>
							<span class="input-label">Enter new MPIN</span>
						</label>
						<!-- <input type="password" ng-model="new_mpin"  class="bob-input" placeholder="Enter MPIN" name="password" ng-minlength="4" ng-pattern="/^\+?\d{4}$/"/> -->
						<input type="password"  placeholder="Enter MPIN" id="new_mpin" name="new_mpin" ng-model="new_mpin" ng-pattern="/^\+?\d{4}$/" ng-minlength="4" my-Maxlength="4" required class="bob-input"/>
						<!-- <span ng-show="!myForm.new_mpin.$error.required && myForm.new_mpin.$error.pattern">Enter 4 digits</span> -->
						<span ng-show="myForm.new_mpin.$touched && myForm.new_mpin.$error.pattern">Please enter 4 digits</span>
						<br/>
					</div>
					<div class="item">
						<label>
							<span class="input-label">Confirm new MPIN</span>
						</label>
						<!-- <input type="password" ng-model="confirm_mpin"  class="bob-input" placeholder="Repeat MPIN" name="confPassword" ng-minlength="4" ng-pattern="/^\+?\d{4}$/" pw-check="password" />
						<span ng-show="myForm.confPassword.$touched && myForm.confPassword.$error.pwmatch">MPIN do not match.</span> -->
						<input type="password" name="confirm_mpin" id="confirm_mpin" ng-model="confirm_mpin" pw-check="new_mpin" placeholder="Repeat MPIN" ng-minlength="4"  my-Maxlength="4" required class="bob-input"/>
						<span ng-show="myForm.confirm_mpin.$touched && myForm.confirm_mpin.$error.pwmatch">MPIN do not match.</span>
						<br/>
					</div>
				</div>
					<div class="row">
						<div class="col text-right">
							<button class="icon-left button-block ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="showAlert()">OK</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient button-block icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>
				 </div>
				</ng-form>
			</div>
			<div class="row italic">
				<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
				<div class="col">Enter 4 digit MPIN received on SMS in MPIN box</div>
			</div>
		</div>

  </ion-content>
</ion-view>
