<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						TRACK STATUS OF CHEQUE BOOK
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50 text-orange text-center">
									Account Number
								</div>
								<div class="col-50 text-orange text-center">
									Reference Number
								</div>
							</div>
						</div>
						<div class="item" ng-repeat="i in [1,2,3,4,5]">
							<div class="row">
								<div class="col-10">
									<input type="radio">
								</div>
								<div class="col-50">
									12412412412412
								</div>
								<div class="col-40">
									BRE1454
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>


  </ion-content>
</ion-view>
