<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						CHEQUE BOOK REQUEST
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Account Number
								</div>
								<div class="col-50">
									<button class="button bob-options icon-right ion-chevron-right" >
										S963634
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row italic">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
			<div class="col">Select Account for which Cheque Book is required</div>
		</div>

					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>


  </ion-content>
</ion-view>
