<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						CONTACT US
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Customer Care
								</div>
								<div class="col-50">
									<i class="ion-ios-telephone-outline"></i>
									<a href="tel:1800223344">1800 22 33 44</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Email
								</div>
								<div class="col-50">
									<a href="mailto:x@y.com">baroda@bankofbaroda.com</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Website
								</div>
								<div class="col-50">
									<a href="http://www.bob.com">bankofbaroda.com</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="text-center">
			<span class="italic"><i class="text-orange wand ion-wand"></i>Tap on call button to get connected to our customer care</span>
		</div>
		</div>
  </ion-content>
</ion-view>
