<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding contact-us" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						CONTACT US
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-30">
									Customer Care
								</div>
								<div class="col-70 text-right">
									<i class="ion-ios-telephone-outline"></i>
									<a href="tel:1800223344">1800 22 33 44</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-40">
									Email
								</div>
								<div class="col-60 text-right">
									<small style="font-size: 3.5vw; text-align: right;">
										<a href="mailto:x@y.com">baroda@bankofbaroda.com</a>
									</small>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Website
								</div>
								<div class="col-50 text-right">
									<a href="http://www.bob.com">bankofbaroda.com</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="row italic">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
			<div class="col">Tap on call button to get connected to our customer care</div>
		</div>
		</div>
  </ion-content>
</ion-view>
