<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="DataRechargeCtrl">

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					DATA CARD RECHARGE
				</div>
			</div>
			<div class="boxed card bob-card bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Customer ID
								</div>
								<div class="col-50 text-right">
									{{data.customer_id}}
								</div>
							</div>						
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Operator
								</div>
								<div class="col-50 text-right">
									{{data.operator}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Circles
								</div>
								<div class="col-50 text-right">
									{{data.circles}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Amount
								</div>
								<div class="col-50 text-right">
									{{data.amount}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Nickname
								</div>
								<div class="col-50 text-right">
									{{data.nickname}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Add to Beneficiary
								</div>
								<div class="col-50">
									<ion-toggle ng-model="beneficiary" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Add to Favourite</span>
								</div>
								<div class="col-50">
									<ion-toggle ng-model="favourite" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>

					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step ==0">

						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Customer ID</span>
								</div>
									<div class="col-50">
										<input class="bob-input pull-left" type="number" ng-model="data.customer_id">
									</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Operator</span>
								</div>
								<div class="col-50-50">
									<button class="bob-options button icon-right ion-chevron-right">Idea Cellular</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Circle</span>
								</div>
								<div class="col-50">
									<button class="bob-options button icon-right ion-chevron-right">Navi Mumbai</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									<span>Amount</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.amount">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Nickname</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.nickname"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>

	</ion-content>
</ion-view>
