<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						DE-REGISTRATION
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="item">
						Payment type:
						<br/>
						<br/>
						{{data.payment_type}}
						<br/>
						<br/>
						<div class="beneficiary" ng-repeat="b in data.beneficiaries">
							<label class="radio">
							<input type="radio" name="selected" ng-model="data.selected"> {{b.name}}
							</label>
							<input type="text" class="bob-input" disabled ng-model="b.account_number">
							<br/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	De-register
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>

		</div>
  </ion-content>
</ion-view>
