<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						DE-REGISTRATION
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="list bob-card-list padded">
						<div class="item">
							Payment Type:
						</div>
						<div class="item" ng-repeat="p in payment_types">
							<div class="row">
								<div class="col-90">
									{{p.label}}
								</div>
								<div class="col-10">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>

		</div>
  </ion-content>
</ion-view>
