<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="FaqSectionCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						FAQ'S
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="list bob-card-list text-center straight-bottom">
						<div class="item text-center" > <!-- ui-sref="app.mobile-recharge"  -->
							Getting Started
						</div>
					</div>
				</div>
				<br/>
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom straight-top translucent"  ng-repeat="q in questions">
					<div class="item straight-bottom straight-top faq-header">
						<span ng-bind-html="q.question">
						</span>
					</div>
					<div class="item faq-body" ng-bind-html="q.answer">
					</div>
				</div>

			</div>
		</div>
  </ion-content>
</ion-view>
