<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="FaqSectionCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						FAQ'S
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center straight-bottom">
						<div class="item text-center" ui-sref="app.mobile-recharge">
							<div class="row">
								<div class="col-90" ui-sref="app.cheque-request">
									Getting Started
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.cheque-book-status">
							<div class="row">
								<div class="col-90">
									MPIN Related
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.cheque-status">
							<div class="row">
								<div class="col-90">
									CRN Related
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ui-sref="app.stop-cheque">
							<div class="row">
								<div class="col-90">
									Banking
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
