<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						FAVOURITES
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center padded">
						<div class="item" ui-sref="app.mobile-recharge">
							Fund transfer
						</div>
						<div class="item" ui-sref="app.dth-recharge">
							IMPS
						</div>
						<div class="item" ui-sref="app.rtgs">
							Own Account
						</div>
						<div class="item" ui-sref="app.neft">
							NEFT
						</div>
						<div class="item" ui-sref="app.neft">
							Other Account
						</div>
					</div>
				</div>
			</div>
				</div>
  </ion-content>
</ion-view>
