<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						COMPLAINTS &amp; FEEDBACK
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col">
									Name
								</div>
								<div class="col">
									Ranjana Yadav
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col">
									Email
								</div>
								<div class="col">
									ranjana.ya@gmail.com
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col">
									Mobile number
								</div>
								<div class="col">
									97394069677
								</div>
							</div>
						</div>
						<div class="item">
							<br/>
							<div class="row">
								<div class="col-50">
									<label class="radio">
										<input name="type" type="radio"> Feedback
									</label>
								</div>
								<div class="col-50">
									<label class="radio">
										<input name="type" type="radio"> Complaint
									</label>
								</div>
							</div>
							<textarea class="fullwidth feedback"></textarea>
							<br/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Submit
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
