  <ion-content class="bob-bg padding" ng-controller="ForgotCtrl">
		<div class="text-center">
			<img src="img/bob-logo-orange.png" class="login-logo" />
			<br/>
			<img src="img/bob-mconnect-logo.png" class="mconnect-logo" />
		</div>
    <div class="" style="height: auto;">
      <div class="card bob-card bob-login-box straight-top straight-bottom">
				<div class="item item-divider straight-top">
					FORGOT PASSWORD?
				</div>
				<label class="item item-stacked-label">
					<span class="input-label">Enter Mobile no.</span>
				</label>
				<label class="item item-input bob-input">
					<input type="number" ng-model="mobile" />
				</label>
				<label class="item item-stacked-label">
					<span class="input-label">Enter MPIN</span>
				</label>
				<label class="item item-input bob-input">
					<input type="password" ng-model="mpin" />
				</label>
				<br/>
				<div class="row">
					<div class="col text-right">
						<button class="button button-gradient padded  icon-left ion-checkmark" ng-click="nextScreen()">
							OK
						</button>
					</div>
					<div class="col text-left">
						<button class="button button-gradient  icon-left ion-close" ng-click="nextScreen()">CANCEL
						</button>
					</div>

				</div>
			</div>
		<div class="row icon-row">
			<div class="col">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
		<div class="text-center copyright">
			v1.2.0 &copy; Bank of Baroda. All rights reserved.
		</div>
		</div>
	</div>
  </ion-content>
