<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="FundTransferCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						FUND TRANSFER
					</div>
				</div>
			</div>
			<br/>
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						Within Bank
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="list bob-card-list text-center padded">
						<div class="item" ng-click="viewAccs('sla')">
							Self Linked Accounts
						</div>
						<div class="item" ng-click="viewAccs('tpa')">
							Third Party Accounts
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						Other Bank
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
					<div class="list bob-card-list text-center padded">
						<div class="item" ng-click="viewIMPS()">
							IMPS
						</div>
						<div class="item straight-bottom" ng-click="viewNeft()">
							NEFT
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
