<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="GenMMIDCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						Generate MMID
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps">
					
					<div class="list bob-card-list">
						<div class="item">
							<div class="row" ng-show="nonmmidaclstflg == true">
								<div class="col-50 bob-label">
									Account Number
								</div>
								<div class="col-50">
									<button class="button bob-options icon-right ion-chevron-right"  ng-model="selacntnum" ng-click="showAlert()">
										{{data.btAcntNum}}
									</button>
								</div>
							</div>
							<div class="row" ng-show="mmidlistflg == true">
								<div class="col-40 text-orange text-center">
									Account Number
								</div>
								<div class="col-40 text-orange text-center">
									MMID
								</div>
								<div class="col-20 text-orange text-center">
									Delete
								</div>
							</div>
						</div>
						<div class="item" ng-repeat="acc in data.mmidls">
							<div class="row">
								<div class="col-40 text-center">
									{{acc.ACCOUNT_NUMBER}}
								</div>
								<div class="col-40 text-center">
									{{acc.ACCOUNT_MMID}}
								</div>
								<div class="col-20 text-center" ng-click="delmmidclick(acc)">
									<i class = "icon ion-minus-circled"></i>
								</div>								
							</div>
						</div>	
					</div>
					
				</div>
			</div>
		</div>
		
		
				<div class="button-row" ng-show="nonmmidaclstflg == true">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="genmmidclick()">	Generate MMID
							</button>
				</div>

  </ion-content>
</ion-view>
