<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>
  <ion-content class="bob-bg padding">
    <div class="card bob-card round5 text-center home-panel no-shadow">
			<div class="item item-divider">
				<span class="italic">Welcome</span> <strong class="text-upper">{{data.user.first_name}} {{data.user.last_name}}</strong>
			</div>
			<div class="profile">
				<div class="row">
					<div class="col-30 avatar">
						<img src="img/no_image_user.png" class="img-rounded" />
					</div>
					<div class="col-70 text-left user-info">
						<p>Last Login: 
						{{data.user.last_login}}
						</p>
					</div>
				</div>
			</div>
			<div class="menu-grid">
				<div class="row">
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-account.png" ui-sref="app.toggle-accounts" />
							<br/>
							ACCOUNTS
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-fund-transfer.png" />
							<br/>
							FUND TRANSFER
						</div>
						<img src="img/reflection.png" class="reflection"  />
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-mcommerce.png" ui-sref="app.mcommerce" />
							<br/>
							M-COMMERCE
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>

					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-service-request.png" />
							<br/>
							REQUEST SERVICES
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-transaction.png" />
							<br/>
							<div class="two-lines">
								TRANSACTION HISTORY
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
					<div class="col col-50">
						<div class="icon-box" ui-sref="app.change-mpin">
							<img src="img/cta-change-mpin.png" />
							<br/>
							CHANGE MPIN
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
			</div>
		</div>	
		<div class="row icon-row">
			<div class="col">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>

		
  </ion-content>
</ion-view>
