<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="HomeCtrl">
  <ion-content class="bob-bg half-padding" scroll="false">
    <div class="card bob-card round5 text-center home-panel no-shadow">
			<div class="item item-divider">
				<span class="italic">Welcome</span> <strong class="text-upper">{{data.user.customer_name }}</strong>
			</div>
			<div class="profile">
				<div class="row">
					<div class="col-25 avatar">
						<img src="img/no_image_user.png" class="img-rounded" />
					</div>
					<div class="col-75 text-left user-info">
						Last Login: 
						{{data.user.last_login}}
					</div>
				</div>
			</div>
			<div class="menu-grid">
				<div class="row">
					<div class="col col-50">
						<div class="icon-box"  ng-click="viewAcc()" >
							<img src="img/cta-account.png"/>
							<br/>
							<div class="two-lines">
							  ACCOUNTS
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
					<div class="col col-50">
						<div class="icon-box" ng-click="viewFundTrans()">
							<img src="img/cta-fund-transfer.png" />
							<br/>
							<div class="two-lines">
								FUND<br/>TRANSFER
							</div>
						</div>
						<img src="img/reflection.png" class="reflection"  />
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box"  ui-sref="app.mcommerce">
							<img src="img/cta-mcommerce.png" />
							<br/>
							<div class="two-lines">
							  M-COMMERCE
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>

					<div class="col col-50">
						<div class="icon-box" ng-click="viewReqServices()">
							<img src="img/cta-service-request.png"  />
							<br/>
							<div class="two-lines">
								REQUEST<br/>SERVICES
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box" ui-sref="app.transaction-history">
							<img src="img/cta-transaction.png" />
							<br/>
							<div class="two-lines">
								TRANSACTION<br/>HISTORY
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
					<div class="col col-50">
						<div class="icon-box" ui-sref="app.change-mpin">
							<img src="img/cta-change-mpin.png" />
							<br/>
							<div class="two-lines">
							  CHANGE MPIN
							</div>
						</div>
						<img src="img/reflection.png" class="reflection" />
					</div>
				</div>
				
			</div>
		</div>	
		<div class="row icon-row home-icons">
			<div class="col" ng-click="viewFaqs()">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col" ng-click="viewContactUs()">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col" ng-click="viewLocator()">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col" ng-click="viewDemo()">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
  </ion-content>
</ion-view>
