<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="ImpsOptionsCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						IMPS
					</div>
				</div><!-- viewIMPSAcc() -->
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center">
						<div class="item text-center" ng-click="viewNextPage('impsaccount')">
							<div class="row">
								<div class="col-90">
									Fund Transfer to Account
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ng-click="viewNextPage('impsmobile')">
							<div class="row">
								<div class="col-90">
									Fund Transfer to Mobile
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ng-click="viewNextPage('aadhar')">
							<div class="row">
								<div class="col-90">
									Fund Transfer to Aadhaar
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center" ng-click="viewNextPage('merchant')">
							<div class="row">
								<div class="col-90">
									Fund Transfer to Merchant
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-center">
							<div class="row">
								<div class="col-90">
									Generate OTP
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-center" ng-click="viewGenMMID()">
							<div class="row">
								<div class="col-90">
									Generate MMID
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-center" ng-click="viewRetrieveMMID()">
							<div class="row">
								<div class="col-90">
									Retrieve MMID
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-center" ui-sref="app.interest-certificate">
							<div class="row">
								<div class="col-90">
									Cancel MMID
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
