<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="ImpsAadhaarCtrl">

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
		<ng-form name="myForm" id="frmLogin">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					BENEFICIARY REGISTRATION:
					<br/>
					IMPS <span class="italic">to</span> AADHAAR
				</div>
			</div>
			<div class="card bob-card bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Name
								</div>
								<div class="col-50 text-right">
									{{data.name}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Aadhaar number
								</div>
								<div class="col-50 text-right">
									{{data.aadhaar_number}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Amount</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.amount" ng-pattern="/^\+?\d*$/" ng-click="checkAmount()" required>
								</div>
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom" ng-show="step ==0">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Name</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.name"/>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Aadhaar number</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.aadhaar_number" ng-pattern="/^\+?\d{12}$/" ng-minlength="12"  my-Maxlength="12" required>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="showAlert()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>
			</ng-form>
		</div>
	</ion-content>
</ion-view>
