  <ion-content class="bob-bg padding" style="padding-top: 0px;" >
		<div class="text-center">
			<img src="img/bob-logo-orange.png" class="login-logo" />
			<br/>
			<img src="img/bob-mconnect-logo.png" class="mconnect-logo" />
		</div>
    <div class="login-form">
      <div class="card bob-card bob-login-box">
				<label class="item item-stacked-label">
					<span class="input-label">Password</span>
				</label>
				<label class="item item-input bob-input">
					<i class="icon ion-key "></i>
					<input type="password" ng-model="password" />
				</label>
				<div class="button-row">
					<button class="button button-gradient padded" ng-click="nextScreen()">
						LOGIN
					</button>
					<br/>
					New User | Forgot Password ?
				</div>
			</div>
		<div class="row icon-row">
			<div class="col">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
		<div class="text-center">
			Language: English
		</div>
		<div class="login-banner">
			<ion-slides>
				<ion-slide-page>
					<img src="http://placehold.it/300x150&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/300x150&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/300x150&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/300x150&text=Placeholder" />
				</ion-slide-page>
			</ion-slides>
		</div>
		<div class="text-center">
			v1.2.0 &copy; Bank of Baroda. All rights reserved.
		</div>
		</div>
	</div>
  </ion-content>
