<ion-content class="bob-bg" ng-controller="LoginCtrl" scroll="false">
	<div class="half-padding login-elements">
		<div class="text-center login-logos">
			<img src="img/bob-logo-orange.png" class="login-logo" />
			<br/>
			<img src="img/bob-mconnect-logo.png" class="mconnect-logo" />
		</div>
    <div class="login-container">
      <div class="card bob-card bob-login-box">
     	 <ng-form name="myForm">
				<label class="item item-stacked-label item-password-title">
					<span class="input-label">Password</span>
				</label>
				<label class="item item-input bob-input">
					<i class="icon ion-key angled-key"></i>
					<!-- ng-pattern="/^[a-zA-Z0-9@#$%^&*()!~_ -]*$/"  -->
					<input ng-model="login.password" type="password" name="password" ng-minlength="4" my-Maxlength="4" ng-pattern="/^\+?\d{4}$/" required/>
          			<!-- <span class="error" ng-show="myForm.password.$touched && myForm.password.$error.minlength">Min 4 digits.</span> -->
         			 <!-- <span class="error" ng-show="myForm.password.$error.pattern">It will accept "a-zA-Z0-9@#$%^&*()!~_ -"</span> --> 		      
         			 <!-- <span class="error">{{errMsg}}</span> -->
				</label>
				<span class="error" ng-show="myForm.password.$touched && myForm.password.$error.minlength">Please enter 4 digits</span>
				<div class="button-row">
					<button class="button button-gradient padded" ng-disabled="myForm.$invalid" ng-click="validateCredentials()">
						LOGIN
					</button>
					<!-- <br/>
					New User | Forgot Password ?
					 -->
					<div class="links">
						 <a ng-click="viewNewUser()" style="font-family:inherit;">New User</a>
						 <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
						<a ng-click="viewForgotPwd()" style="font-family:inherit;">Forgot Password ?</a>	
					</div>
				</div>
		</ng-form>
	 </div>
			
		<div class="row icon-row">
			<div class="col-25">
				<img src="img/cta-faqs.png" ng-click="viewFaq()"/>
				<br/>
				FAQs
			</div>
			<div class="col-25">
				<img src="img/cta-contact.png" ng-click="viewContUs()"/>
				<br/>
				Contact
			</div>
			<div class="col-25">
				<img src="img/cta-locator.png" ng-click="" />
				<br/>
				Locator
			</div>
			<div class="col-25">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
		<div class="text-center">
			Language: 
			<select>
				<option value="English">English</option>
			</select>
		</div>
		</div>
	</div>
		<div class="login-banner">
			<ion-slides options="options">
				<ion-slide-page>
					<img src="http://placehold.it/250x125&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/250x125&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/250x125&text=Placeholder" />
				</ion-slide-page>
				<ion-slide-page>
					<img src="http://placehold.it/250x125&text=Placeholder" />
				</ion-slide-page>
			</ion-slides>
		</div>
		<div class="text-center copyright">
			v1.2.0 &copy; Bank of Baroda. All rights reserved.
		</div>
	</div>
  </ion-content>
