<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="McommerceCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						M-COMMERCE
					</div>
				</div>
			</div>
			<br/>
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						Recharge
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center padded">
						<div class="item" ui-sref="app.mobile-recharge">
							Mobile Recharge
						</div>
						<div class="item" ui-sref="app.dth-recharge">
							DTH Recharge
						</div>
						<div class="item" ui-sref="app.data-recharge">
							Data Recharge
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						Bill Pay
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center padded">
						<div class="item" ui-sref="app.bill-pay">
							Registered Bill Payment
						</div>
						<div class="item straight-bottom" ng-click="viewQuickBillPay()">
							Quick bill Payment
						</div>
					</div>
				</div>
			</div>
			<br/>
			<div class="text-left fullwidth">
				<a href="" class="text-orange" ng-click="viewBenf()">Beneficiary Management</a>
			</div>

			<br/>
		<div class="row italic">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
			<div class="col">Click on Beneficiary Management to view &amp; de-register beneficiaries for recharge</div>
		</div>
		</div>
  </ion-content>
</ion-view>
