<ion-side-menus enable-menu-with-back-views="true" ng-controller="AppCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-buttons side="right">
			  <button class="button button-icon ion-home" ng-click="viewHome()" ng-hide="currentState == 'app.home'"></button>
			  <button class="button button-icon ion-forward flipped" ng-click="viewHome()" ng-hide="currentState == 'app.home'"></button>
				<button class="button button-icon ion-power" ng-click="logout()"></button>
				<button class="button button-icon ion-ios-bell" ng-hide="currentState != 'app.home'" ></button>
        <button class="button button-icon ion-android-more-vertical" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
			<div class="menu-overlay"></div>
		</ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" width="320" class="arrow-box">
    <ion-content>
      <ion-list>
				<div class="item item-divider item-assertive">
					BANKING
				</div>
				<div class="padded-menu">
        <ion-item menu-close href="" ng-click="viewWithDrwl()">
				Cash withdrawal
        </ion-item>
        <ion-item menu-close ui-sref="app.loan-schemes">
				View schemes with rate &amp; tenure
        </ion-item>
				<ion-item menu-close ui-sref="app.query-account">
				Query on Account (last 3 months transactions)
        </ion-item>
				<ion-item menu-close ui-sref="app.block-card">
					Block card
        </ion-item>
			</div>
				<div class="item item-divider item-assertive">
					PPF
				</div>
				<div class="padded-menu">
        <ion-item menu-close ui-sref="app.ppf-register">
					Register
        </ion-item>
        <ion-item menu-close href="#/app/ppf-deregister-menu">
					De-register
        </ion-item>
        <ion-item menu-close ui-sref="app.credit-ppf">
					Credit PPF account
        </ion-item>
        <ion-item menu-close ui-sref="app.view-ppf">
					View statement
        </ion-item>
			</div>
			<div class="item item-divider item-assertive" menu-close ng-click="viewFav()">
					FAVOURITES
				</div>
				<div class="padded-menu">
					<ion-item menu-close ng-click="viewFTransfer()" href="#">
					Fund transfer
					</ion-item>
					<ion-item menu-close ng-click="viewMcomm()"  href="#">
					M-Commerce
					</ion-item>
			</div>
			<div class="item item-divider item-assertive">
					SETTINGS
				</div>
				<div class="padded-menu">
					<ion-item menu-close href="#/app/search">
					Version update
					</ion-item>
					<ion-item menu-close href="#/app/browse">
					Update Email ID
					</ion-item>
					<ion-item menu-close href="#/app/playlists">
					Call back facility
					</ion-item>
					<ion-item menu-close href="#/app/playlists">
					Language selection
					</ion-item>
					<ion-item menu-close href="#/app/playlists">
					Last 10 activities
					</ion-item>
					<ion-item menu-close href="#/app/toggle-accounts">
						Enable / Disable Accounts
					</ion-item>

			</div>
			<div class="item item-divider item-assertive white-border" menu-close ng-click="viewTnC()">
				TERMS &amp; CONDITIONS
				</div>
			<div class="item item-divider item-assertive white-border" menu-close ng-click="viewCmplntnFeedback()">
				COMPLAINTS &amp; FEEDBACK
				</div>
			<div class="item item-divider item-assertive white-border">
					DE-REGISTER
				</div>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
