  <ion-content class="bob-bg padding" ng-controller="MobileCtrl">
		<div class="text-center">
			<img src="img/bob-logo-orange.png" class="login-logo" />
			<br/>
			<img src="img/bob-mconnect-logo.png" class="mconnect-logo" />
		</div>
    <div class="">
			<div class="form-middle">
			<ng-form name="myForm" id="frmLogin">
				<div class="card bob-card bob-login-box translucent">
					<label class="item item-stacked-label">
						<span class="input-label">Mobile Number</span>
					</label>
					<label class="item item-input bob-input">
						<input type="text" ng-model="mobile" ng-pattern="/^\+?\d{10}$/" ng-minlength="10"  my-Maxlength="10" required/>
					</label>
					<span ng-show="myForm.password.$touched && myForm.password.$error.pattern">Invalid Mobile Number</span>
					<br/>
				</div>
					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="showAlert()">	Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>
					</ng-form>
			</div>

		<div class="row icon-row">
			<div class="col">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
		<div class="text-center">
			v1.2.0 &copy; Bank of Baroda. All rights reserved.
		</div>
		</div>
  </ion-content>
