<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					TRANSFER TO THIRD PARTY
				</div>
				<div class="subtitle item">
					Mobile to Mobile
				</div>
			</div>
			<div class="card bob-card bob-login-box translucent straight-top bob-steps boxed straight-bottom">
				<div class="list bob-card-list straight-bottom">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									From Account
								</div>
								<div class="col-50 text-right">
									{{data.from_account}}
								</div>
							</div>						
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Available Balance
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									To Account
								</div>
								<div class="col-50 text-right">
									{{data.benenficiary_account_number}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Name
								</div>
								<div class="col-50 text-right">
									{{data.name}}
								</div>
							</div>
						</div>

						<div class="item">
							<div class="row">
								<div class="col-50">
									Amount
								</div>
								<div class="col-50 text-right">
									{{data.amount}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Remarks
								</div>
								<div class="col-50 text-right">
									{{data.remarks}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Schedule Payment
								</div>
								<div class="col-50 text-right">
									<ion-toggle ng-model="data.schedule" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Add to Favourite
								</div>
								<div class="col-50 text-right">
									<ion-toggle ng-model="data.favourite" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Add to Beneficiary
								</div>
								<div class="col-50 text-right">
									<ion-toggle ng-model="data.add_beneficiary" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>

					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step ==0">

						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>From Account<span>
								</div>
								<div class="col-50 text-right">
									<button class="bob-options button icon-right ion-chevron-right">1234567</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Available Balance</span>
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label bob-label">
									<span>To Account</span>
								</div>
								<div class="col-50 text-right">
									<button class="bob-options button icon-right ion-chevron-right">1234567</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Name</span>
								</div>
								<div class="col-50 text-right">
									<input type="text" class="bob-input" ng-model="data.name">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Amount</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.amount">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Remarks</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.remarks">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>

	</ion-content>
</ion-view>
