<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="NeftCtrl">

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					NEFT
				</div>
			</div>
			<div class="card bob-card boxed bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									From Account
								</div>
								<div class="col-50 text-right">
									{{data.from_account}}
								</div>
							</div>						
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Available Balance
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Beneficiary
								</div>
								<div class="col-50 text-right">
									{{data.beneficiary}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Beneficiary
									<br/>
									Account number
								</div>
								<div class="col-50 text-right">
									{{data.benenficiary_account_number}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Amount
								</div>
								<div class="col-50 text-right">
									{{data.amount}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Remarks
								</div>
								<div class="col-50 text-right">
									{{data.remarks}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Schedule Payment</span>
								</div>
								<div class="col-50">
									<ion-toggle ng-model="data.schedule" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Add to Favourite</span>
								</div>
								<div class="col-50">
									<ion-toggle ng-model="data.favourite" toggle-class="toggle-assertive"></ion-toggle>
								</div>
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step ==0">

						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>From Account<span>
								</div>
								<div class="col-50 text-right">
									<button class="bob-options button icon-right button-block ion-chevron-right">1234567</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Available Balance</span>
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Beneficiary</span>
								</div>
								<div class="col-50">
									<button class="bob-options button-block button icon-right ion-chevron-right">Select Beneficiary</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Beneficiary<br/>Account number</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.beneficiary_account_number">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>IFSC</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.ifsc"/>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Amount</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.amount">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Remarks</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.remarks">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>

	</ion-content>
</ion-view>
