<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					NEFT BENEFICIARY REGISTRATION
				</div>
			</div>
			<div class="card bob-card bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step==1">
						
						<div class="item">
							<div class="row">
								<div class="col-50">
									Beneficiary
								</div>
								<div class="col-50 text-right">
									{{data.beneficiary}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Beneficiary
									<br/>
									Account number
								</div>
								<div class="col-50 text-right">
									{{data.benenficiary_account_number}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									IFSC
								</div>
								<div class="col-50 text-right">
									{{data.ifsc}}
								</div>
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step ==0">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Beneficiary name</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.beneficiary_name"/>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 col-50-label">
									<span>Beneficiary<br/>Account number</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.beneficiary_account_number">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>IFSC</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.ifsc"/>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Proceed
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>

	</ion-content>
</ion-view>
