<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						LIST OF OPERATORS
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item" ng-repeat="i in [1,2,3,4,5]">
							<div class="row">
								<div class="col-10">
									<input type="radio">
								</div>
								<div class="col">
									Airtel Limited
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>

		</div>
  </ion-content>
</ion-view>
