  <!-- (?!.*([A-Za-z0-9])\1{2}) Regex makes sure that none of the chars repeat more than twice in a row  -->
  <ion-content class="bob-bg padding" ng-controller="PasswordCtrl">
		<div class="text-center">
			<img src="img/bob-logo-orange.png" class="login-logo" />
			<br/>
			<img src="img/bob-mconnect-logo.png" class="mconnect-logo" />
		</div>
    <div class="">
			<div class="form-middle">
				<ng-form name="myForm" id="frmLogin">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						SET PASSWORD
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<label class="item item-stacked-label">
						<span class="input-label">Application password</span>
					</label>
					<label class="item item-input bob-input orange">
						<!-- <input type="password" ng-model="reg.password" placeholder="Set a password" name="password" id="password" ng-minlength="4" ng-pattern="/^\+?\d{4}$/" required/> -->
						<input type="password" id="password" name="password" ng-model="reg.password" ng-pattern="/^\+?\d{4}$/" placeholder="Set a password" ng-minlength="4"  my-Maxlength="4" required />
                		<!-- <span data-ng-show="myForm.password.$valid && myForm.password.$dirty" data-ng-class="strength">{{strength}}</span> -->					
					</label>
					<span ng-show="myForm.password.$touched && myForm.password.$error.pattern">Please enter 4 digits</span>
					
					<br/>
					<label class="item item-stacked-label">
						<span class="input-label">Confirm application password</span>
					</label>
					<label class="item item-input bob-input orange">
						<!-- <input type="password" ng-model="reg.confirm_password" id="confPassword" placeholder="Repeat password" name="confPassword" pw-check="password" ng-minlength="4" ng-pattern="/^\+?\d{4}$/" required/> -->						
						<input type="password" name="confPassword" id="confPassword" ng-model="reg.confPassword" pw-check="password" placeholder="Repeat password" ng-minlength="4"  my-Maxlength="4" required />
						
					</label>
					<span ng-show="myForm.confPassword.$touched && myForm.confPassword.$error.pwmatch">Passwords do not match.</span>
					
					<br/>
				</div>
					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="showAlert()">Confirm</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">Cancel</button>
						</div>
					</div>
					</ng-form>
			</div>

		<div class="row icon-row">
			<div class="col">
				<img src="img/cta-faqs.png" />
				<br/>
				FAQs
			</div>
			<div class="col">
				<img src="img/cta-contact.png" />
				<br/>
				Contact
			</div>
			<div class="col">
				<img src="img/cta-locator.png" />
				<br/>
				Locator
			</div>
			<div class="col">
				<img src="img/cta-demo.png" />
				<br/>
				Demo
			</div>
		</div>
		<div class="text-center">
			v1.2.0 &copy; Bank of Baroda. All rights reserved.
		</div>
		</div>
  </ion-content>
