<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						PPF: REGISTER
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom">
					<div class="list bob-card-list straight-bottom">
						<div class="item">
							<br/>
								<label>
									PPF Account number
								</label>
								<br/>
								<br/>
								<button class="button bob-options icon-right ion-chevron-right" >
									 412412412412
								</button>
									<br/>
									<br/>
						</div>
					</div>
				</div>
				<br/>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom">
						<div class="item">
							<div class="row">
								<div class="col-50">
									Name
								</div>
								<div class="col-50 text-right">
									{{data.name}}
								</div>
							</div>						
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Account status
								</div>
								<div class="col-50 text-right">
									{{data.account_status}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Customer ID
								</div>
								<div class="col-50 text-right">
									{{data.customer_id}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Account number
								</div>
								<div class="col-50 text-right">
									{{data.account_number}}
								</div>
							</div>
						</div>
					</div>

			</div>
		</div>

					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>


  </ion-content>
</ion-view>
