<ion-content class="bob-bg padding" ng-controller="PreLoginCtrl">
 <div class="text-center">
	<img src="img/bob-logo-orange.png" class="login-logo" />
 </div>
 <div class="login-form">
	<div class="button-row">
		<button class="button button-gradient padded" ng-click="viewLoginPage()">LOGIN</button>
	</div>
	<div class="text-center">v1.2.0 &copy; Bank of Baroda. All rights reserved.</div>
 </div>
</ion-content>
