<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						QUERY ON ACCOUNT
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps straight-bottom">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Account Number
								</div>
								<div class="col-50 text-right">
									<button class="button bob-options icon-right ion-chevron-right" >
										S963634
									</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									From
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.date_from">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									To
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.date_to">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									File type
								</div>
								<div class="col-50 text-right">
									<select>
										<option>PDF</option>
										<option>Excel</option>
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>


  </ion-content>
</ion-view>
