<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>
  <ion-content class="bob-bg padding">
    <div class="card bob-card round5 text-center home-panel no-shadow">
			<div class="item item-divider">
				QUICK BILL PAYMENT
			</div>
			<div class="accounts-grid menu-grid">
				<div class="row">
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-bill-mobile.png" ui-sref="app.quick-bill-pay" />
							<div class="two-lines">
								Mobile
							</div>
						</div>
						<img src="img/reflection.png" class="reflection "/>
					</div>
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-bill-telephone.png" ui-sref="app.term-deposit"/>
							<div class="two-lines">
								Telephone
							</div>
						</div>
						<img src="img/reflection.png" class="reflection "/>
					</div>
				</div>
				<div class="row">
					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-bill-electricity.png" ui-sref="app.mcommerce" />
							<div class="two-lines">
								Electricity
							</div>
						</div>
						<img src="img/reflection.png" class="reflection "/>
					</div>

					<div class="col col-50">
						<div class="icon-box">
							<img src="img/cta-bill-gas.png" />
							<div class="two-lines">
								Gas
							</div>
						</div>
						<img src="img/reflection.png" class="reflection "/>
					</div>
				</div>
				<div class="row">
					<div class="col-50" style="margin: 0px auto;">
						<div class="icon-box">
							<img src="img/cta-bill-insurance.png"/>
							<div class="two-lines">
								Insurance
							</div>
						</div>
						<img src="img/reflection.png" class="reflection "/>
					</div>
				</div>
		</div>	
		<div class="row italic text-left" style="background: #f6f1ed;">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
			<div class="col">Click on mobile option for Postpaid connections</div>
		</div>

		</div>

  </ion-content>
</ion-view>
