<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="RevokeChequeCtrl">

  <ion-content class="bob-bg padding" >
    <ng-form name="myForm">
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						REVOKE CHEQUE
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									Account Number
								</div>
								<div class="col-50">
									<button class="button bob-options icon-right ion-chevron-right"  ng-model="selacntnum" ng-click="showAlert()">
										{{data.btNam1}}
									</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Cheque Number
								</div>
								<div class="col-50">
									<input class="bob-input" ng-model="data.cheque_number" type="text" name="chqnumber" ng-minlength="10" my-Maxlength="10" ng-pattern="/^(([0-9]*)|(([0-9]*)\.([0-9]*)))$/" required/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-disabled="myForm.$invalid" ng-click="sendRequest()">Confirm
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>
	</ng-form>
  </ion-content>
</ion-view>
