<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						SAVINGS ACCOUNT DETAILS
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list straight-bottom">
						<div class="item" ng-repeat="(k,v) in data">
							<div class="row">
								<div class="col {{!v.multiline ? 'bob-label' : ''}}">
									<span  ng-bind-html="v.label"></span>
									<br ng-if="v.multiline">
									<div style="width: 100%; white-space: normal;" ng-if="v.multiline" ng-bind-html="v.value"></div>
								</div>
								<div class="col text-right" ng-bind-html="v.value" ng-if="!v.multiline">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
  </ion-content>
</ion-view>
