<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom" ng-controller="SelectAccCtrl">
	<div class="item item-divider">
		<!-- GENERATE MINI STATEMENT -->
		SELECT ACCOUNT
	</div>
</div>
<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
<ng-form name="myForm">
	<div class="item">
		<div class="row">
			<div class="col-50 text-center">
				Account Number
			</div>
			<div class="col-50 text-right">
				Account type
			</div>
		</div>
	</div>
	<div class="item" ng-repeat="acc in data.accList1"  ng-if="acc.AC_TYPE == 'TDA'">
		<div class="row">
			<div class="col-10">
				<input type="radio" name="selected" ng-model="data1.accSelected" ng-value="acc">
			</div>
			<div class="col-50 text-left">
				{{acc.AC_NO}}
			</div>
			<div class="col-40 text-right">
				Term Deposit
			</div>
		</div>
	</div>
	</ng-form>
</div>
