<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom" ng-controller="SelectAccCtrl">
	<div class="item item-divider">
		SELECT ACCOUNT
	</div>
</div>
<div class="card bob-card bob-login-box translucent straight-top straight-bottom">
<ng-form name="myForm">
	<div class="item">
		<div class="row">
			<div class="col-10">
			</div>
			<div class="col-90">
				Account Number
			</div>
		</div>
	</div>
	<div class="item" ng-repeat="acc in data.accList1">
		<div class="row">
			<div class="col-10">
				<input type="radio" name="selected" ng-model="data.accSelected" ng-value="acc">
			</div>
			<div class="col-90">
				{{acc.ACCOUNT_NUMBER}}
			</div>
		</div>
	</div>
	</ng-form>
</div>
