<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="ServiceRequestsCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						SERVICE REQUESTS
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center">
					
						<div class="item text-left" ng-click="viewAcc('CBQ')">
							<div class="row">
								<!-- guru BOM-05-07-2016 BEG  <div class="col-90" ui-sref="app.cheque-request"> guru BOM-05-07-2016 END -->
								<div class="col-90">
									Cheque Book Request
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-left" ng-click="viewAcc('tsCB')">
							<div class="row">
								<div class="col-90">
									Track status of cheque book
								</div>
								<div class="col-10 text-right text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-left" ng-click="viewAcc('SIC')">
							<div class="row">
								<div class="col-90">
									Status inquiry of cheque
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-left"  ng-click="viewAcc('STC')">
							<div class="row">
								<div class="col-90">
									Stop cheque
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-left"  ng-click="viewAcc('RVC')">
							<div class="row">
								<div class="col-90">
									Revoke cheque
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
						<div class="item text-left" ui-sref="app.gift-card">
							<div class="row">
								<div class="col-90">
									Purchase Gift/Travel Card
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.aadhar">
							<div class="row">
								<div class="col-90">
									Seeding of Aadhar number
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.email-statement">
							<div class="row">
								<div class="col-90">
									Request of statement through Email
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.loan-schemes">
							<div class="row">
								<div class="col-90">
									View Loan schemes
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.interest-certificate">
							<div class="row">
								<div class="col-90">
									Request for Interest certificate
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.twentysix">
							<div class="row">
								<div class="col-90">
									View 26AS
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>

						<div class="item text-left" ui-sref="app.inquire-interest">
							<div class="row">
								<div class="col-90">
									Inquire Interest Rate
								</div>
								<div class="col-10 text-right">
									<i class="ion-chevron-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
