<!--  {{transaction.TRAN_TYPE == "Cr" ? "Cr" : "Dr"}}  -->
<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="SummaryCtrl">
  <ion-content class="bob-bg padding">
	<br/>
    <div class="card bob-card round5">
			<div class="item item-divider text-center">
				<strong>
					MINI STATEMENT
				</strong>
			</div>
			<div class="text-center available-balance">
				<table class="fullwidth text-left">
					<tr>
						<td>
							From Account:
						</td>
						<td>
						<select class="fullwidth" ng-model="data.selectedAccNo"  ng-options="item.AC_NO as item.AC_NO for item in data.accList | filter : myFilter" ng-change="accChanged(data.selectedAccNo)">								
								<option value="" selected>{{data.account_number}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Available Balance:
						</td>
						<td>
							Rs. {{data.balance}}
						</td>
					</tr>
				</table>
			</div>
		</div>	
		
		
  <!--     <div google-chart chart="transactionChartObject" style="height:300px; width:100%; margin-top: 1rem;" agc-on-select="clickEvent(selectedItem)">
      </div> -->
		

		<div class="card bob-card round5 bob-card-table">
			<div class="item item-divider text-center">
				<strong>
					Last 10 Transactions
				</strong>
			</div>
			<div class="transactions-table">
				<table class="table">
					<thead>
						<th>Date</th>
						<th>Description</th>
						<th>Debit/Credit</th>
						<!-- <th>Balance</th> -->
					</thead>
					<tbody>
						<tr ng-repeat="transaction in data.transactions">
							<td>{{ transaction.TRAN_DATE }}</td>
							<td>{{ transaction.TRAN_NARR }}</td>							
							<td ng-class="whatClassIsIt(transaction.TRAN_TYPE)">Rs. {{ transaction.TRAN_AMOUNT }}</td>
							<!-- <td>Rs. {{transaction.balance}}</td> -->
						</tr>

					</tbody>
				</table>
			</div>
			<div class="item item-divider text-center">
				<strong>{{ transactionEmpty }}</strong>
			</div>
		</div>	
		<div class="text-center button-row">
			<button class="button button-gradient">
				Download Mini - Statement
			</button>
		</div>
  </ion-content>
</ion-view>
