<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="TermDepositCtrl">

  <ion-content class="bob-bg padding" scroll="false" >
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						TERM DEPOSIT
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list">
						<div class="item">
							<div class="row">
								<div class="col">
									Name
								</div>
								<div class="col">
									{{data.name}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col">
									Account Number
								</div>
								<div class="col">
									{{data.account_number}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col">
									Available balance
								</div>
								<div class="col">
									Rs. 
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
					</div>
				</div>
		</div>
  </ion-content>
</ion-view>
