<ion-content class="bob-bg padding" ng-controller="TncCtrl">
  <div class="text-center">
    <img src="img/bob-logo-orange.png" class="login-logo" /> <br /> <img
      src="img/bob-mconnect-logo.png" class="mconnect-logo" />
  </div>
  <div class="mobile-form">
    <div class="form-middle">
      <div
        class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
        <div class="item item-divider">TERMS &amp; CONDITIONS</div>
      </div>
      <div class="card bob-card bob-login-box translucent straight-top">
        <!-- <textarea class="tnc">{{ipsum}}</textarea> -->
        <textarea class="tnc">Terms and Conditions for Mobile Banking Services (Baroda M-Connect)

Applicability of Terms and Conditions 
By using Baroda M-Connect, the Customer thereby agrees to these Terms and Conditions, which form the contract between the Customer and Bank. M-Connect of the Bank shall be governed by such terms and conditions as amended by the Bank from time to time. These terms and conditions shall be in addition to and not in derogation of other terms and conditions relating to any account of the Customer and/or the respective product or the service provided by the Bank unless otherwise specifically stated. 

General Business Rules Governing Baroda M-Connect

The following Business rules will apply to the facility being offered by the Bank:  
i) Upper Limit for transactions:
The daily upper ceiling per customer shall be Rs.50,000 for fund transfer, bill payment and merchant payment within an overall calendar month limit of Rs.2,50,000 whenthe service is used over the application/ WAP. 
ii) Entering wrong mPIN thrice will block the facility for the day and two such consecutive blockages will de-activate the facility. Then customer would be required to re-register for the facility as per the procedure laid down for the same. 
iii) Any change in the business rules of any of the processes will be notified on Bank’s website www.bankofbaroda.com, which will be construed as sufficient notice to the customer. 



Miscellaneous 
Telecom Service provider of the customer may levy charges for each SMS / GPRS and the Bank is not liable for any dispute that may arise between telecom service provider and the Customer. 

Fee structure for the Facility: 

At present, Bank does not charge any fee for offering this M-Connect Facility. 

Responsibilities and obligations of the customer 

i) The Customer will be responsible for all transactions, including fraudulent/erroneous transactions made through the use of his/ her mobile phone, SIM card and mPIN, regardless of whether such transactions are in fact entered into or authorized by him/ her or not and the customer will be responsible for the loss/damage, if any suffered. 

ii) The Customer shall take all steps possible to ensure that his/her mobile phone is not shared with anyone and shall take immediate action to de-register from Baroda M-Connect as per procedure laid down in case of misuse/ theft/loss of the mobile phone or SIM card.

iii) The Customer will use the services offered under facility using the mPIN in accordance with the procedure as laid down by the Bank from time to time. 

iv) The Customer shall keep the User ID and mPIN confidential and will not disclose these to any other person or will not record them in a way that would compromise the security of the services. 

v) It will be the responsibility of the Customer tonotify the Bank immediately if he/ she suspect the misuse of the mPIN. He will also immediately initiate the necessary steps to change his mPIN. 

vi) If the mobile phone or SIM is lost, the customer must immediately take action to de-register from Baroda M-Connect at any of the Bank’s ATM/Base branch of the primary account enabled for Baroda M-Connect. 

vii) The Customer accepts that any valid transaction originating from the User ID and / or registered mobile phone number shall beassumed to have been initiated by the Customer and any transaction authorized by the mPIN is duly and legally authorized by the Customer. 

viii) The Customer shall keep himself/herself updated with regard to any information/ modification relating to the services offered under the facility which would be publicized on the websites and at the branches and would be responsible for the same. 

ix) The Customer shall be liable for all loss on breach of the Terms and Conditions contained herein or contributed or caused the loss by negligent actions or a failure to advise the Bank immediatelyabout any unauthorized access in the Account. 

x) The Customer shall be liable and responsible forall legal compliance and adherence of all commercial terms and conditions inrespect of the mobile connection/SIM card/mobile phone through which the facility is availed and the Bank does not accept/ acknowledge any responsibility in this regard. 

xi) Bank shall not accept any Stop Payment instructions, once the transaction amount and the beneficiary account are keyed in andauthorized by the Customer.

xii) The Customer is advised to be prudent in downloading content through blue-tooth and ensure that proper anti-virus software is used from time to time to remove malware residing in the hand-set. 

xiii) The customer is liable for any dispute related to bill amount paid to the biller and the dispute is to be dealt by the customer with the respective biller directly. The liability of the amount paid (full /partial) to the biller by the customer falls on the scheme code of the biller.

xiv) Any dispute arising out of amount credited to an incorrect account instead of the intended beneficiary, Bank may assist the customer in providing the beneficiary bank contact details to settle the dispute and recover the amount.

xv) The customer is liable for any dispute related to mobile/DTH and DataCard recharge. It is the liability of the customer to verify the mobile number/subscriber number and account number that he/she enters for mCommerce services.

Apart from the above, I agree to all terms & conditions of Baroda M-Connect as mentioned in the Terms & Conditions section of mobile banking on Bank’s website http://www.bankofbaroda.com/mobilebanking/download/Terms%20and%20Conditions.pdf
******************
</textarea>
        <br />
        <div class="row">
          <div class="col text-right">
            <button class="button button-gradient button-block" ng-click="nextScreen()">
            Agree</button>
          </div>
          <div class="col text-left">
            <button class="button button-gradient button-block" ng-click="showValidating()">
            Disagree</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row icon-row">
      <div class="col">
        <img src="img/cta-faqs.png" /> <br /> FAQs
      </div>
      <div class="col">
        <img src="img/cta-contact.png" /> <br /> Contact
      </div>
      <div class="col">
        <img src="img/cta-locator.png" /> <br /> Locator
      </div>
      <div class="col">
        <img src="img/cta-demo.png" /> <br /> Demo
      </div>
    </div>
    <div class="text-center">v1.2.0 &copy; Bank of Baroda. All rights
      reserved.
    </div>
  </div>
</ion-content>
