
<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="ToggleCtrl">
  <ion-content class="bob-bg padding">
		<div class="card bob-card round5 bob-card-table">
			<div class="item item-divider text-center">
				<strong>
					Enable / Disable Account
				</strong>
			</div>
			<div class="transactions-table">
				<table class="table">
					<thead>
						<th class="text-left">Account No.</th>
						<th class="text-left">Account Type</th>
						<th class="text-right">On/Off&nbsp; &nbsp;</th>
					</thead>
					<tbody>
						<tr ng-repeat="acc in data.accList">
							<td ng-if="data.accType == acc.AC_TYPE ">{{acc.AC_NO}}</td>
							<td ng-if="data.accType == acc.AC_TYPE ">{{acc.AC_TYPE}}</td>
							<!-- <td>{{acc.PROD_TYPE}}</td> -->
							<td ng-if="data.accType == acc.AC_TYPE " class="account-toggle">
								<ion-toggle ng-model="toggle" toggle-class="toggle-assertive">&nbsp;</ion-toggle>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<br/>
	<div class="row italic">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div>
			<div class="col">Feature provided to view only the account of your choice.</div>
		</div>


 </ion-content>
</ion-view>


