<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="ServiceRequestsCtrl">

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider straight-bottom">
						TRANSACTION HISTORY
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top">
					<div class="list bob-card-list text-center">
					
						<div class="item text-left" ng-repeat="i in details">
							<div class="row">
								<div class="col">
									{{i.label}}
								</div>
								<div class="col text-right">
									{{i.value}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </ion-content>
</ion-view>
