<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>
  <ion-content class="bob-bg padding">
	<br/>
    <div class="card bob-card round5">
			<div class="item item-divider text-center">
				<strong>
					Savings Account No: 
				</strong>
				{{data.account_number}}
			</div>
			<div class="text-center available-balance">
				Available Balance:
				Rs. {{data.balance}}
			</div>
		</div>	

		<div class="card bob-card round5 bob-card-table">
			<div class="item item-divider text-center">
				<strong>
					Last 10 Transactions
				</strong>
			</div>
			<div class="transactions-table">
				<table class="table">
					<thead>
						<th>Date</th>
						<th>Description</th>
						<th>Debit/Credit</th>
						<th>Balance</th>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in data.transactions">
							<td>{{transaction.date}}</td>
							<td>{{transaction.description}}</td>
							<td ng-class="transaction.transaction_type">Rs. {{transaction.amount}} {{transaction.transaction_type == "credit" ? "CR" : "DR"}}</td>
							<td>Rs. {{transaction.balance}}</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>	
		<div class="text-center button-row">
			<button class="button button-gradient">
				Download Mini - Statement
			</button>
  </ion-content>
</ion-view>
