<div class="text-center">
	<strong>Transaction Successful</strong>
	<br/>
	<br/>
</div>
<table class="table">
	<tr>
		<td>
			Transaction Type
		</td>
		<td>
			FUND
		</td>
	</tr>
	<tr>
		<td>
			Transaction ID
		</td>
		<td>
			52352352
		</td>
	</tr>	<tr>
		<td>
			Amount
		</td>
		<td>
			40,000.00
		</td>
	</tr>	<tr>
		<td>
			Date
		</td>
		<td>
			30/09/2016
		</td>
	</tr>	<tr>
		<td>
			Time
		</td>
		<td>
			14:12:12
		</td>
</table>
