<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />'>

  <ion-content class="bob-bg padding" >
    <div class="">
			<div class="form-middle">
				<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
					<div class="item item-divider">
						VIEW 26AS
					</div>
				</div>
				<div class="card bob-card bob-login-box translucent straight-top bob-steps">
					<div class="bob-list straight-bottom" style="padding: 10px; background: white;" >
						You will be redirected to TDS Centralized Processing Cell website in a separate window. Please click on 'Continue' to proceed with the view of Form 26AS.
					</div>
				</div>
			</div>
		</div>

					<div class="row">
						<div class="col text-right">
							<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()">	Continue
							</button>
						</div>
						<div class="col text-left">
							<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
								Cancel
							</button>
						</div>
					</div>


  </ion-content>
</ion-view>
