<ion-view view-title='<img src="img/topbar-logo.png" style="height: 75%; width: auto; margin-top: 5px; float: left;" />' ng-controller="WithdrawCtrl">

	<ion-content class="bob-bg padding" >
		<div class="form-middle">
			<div class="card bob-card round5 text-center home-panel no-shadow straight-bottom">
				<div class="item item-divider">
					CASH WITHDRAWAL
				</div>
			</div>
			<div class="boxed card bob-card bob-login-box translucent straight-top bob-steps">
				<div class="list bob-card-list">
					<div class="item step-item">
						<div class="row step-row">
							<div class="col-50 italic step1 {{step == 0 ? 'active' : 'inactive'}}" ng-click="toggleStep()">
								Step 1
							</div>
							<div class="col-50 italic step2 {{step == 1 ? 'active' : 'inactive'}}"  ng-click="toggleStep()">
								Step 2
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step==1">
						<div class="item">
							<div class="row">
								<div class="col-50">
									From Account
								</div>
								<div class="col-50 text-right">
									{{data.from_account}}
								</div>
							</div>						
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Available Balance
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>


						<div class="item">
							<div class="row">
								<div class="col-50">
									Amount
								</div>
								<div class="col-50 text-right">
									{{data.amount}}
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50">
									Remarks
								</div>
								<div class="col-50 text-right">
									{{data.remarks}}
								</div>
							</div>
						</div>
					</div>
					<div class="card bob-card bob-login-box translucent straight-top bob-steps" ng-show="step ==0">

						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>From Account<span>
								</div>
								<div class="col-50 text-right">
									<button class="bob-options button icon-right ion-chevron-right">1234567</button>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Available Balance</span>
								</div>
								<div class="col-50 text-right">
									{{data.available_balance}}
								</div>
							</div>
						</div>
						<div class="item separator"></div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Amount</span>
								</div>
								<div class="col-50">
									<input type="number" class="bob-input" ng-model="data.amount">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="row">
								<div class="col-50 bob-label">
									<span>Remarks</span>
								</div>
								<div class="col-50">
									<input type="text" class="bob-input" ng-model="data.remarks">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col text-right">
					<button class="icon-left ion-checkmark button button-gradient" ng-click="showAlert()" ng-hide="step == 1">	Proceed
					</button>

					<button class="icon-left ion-checkmark button button-gradient smaller" ng-click="showAlert()" ng-hide="step == 0">	GENERATE OTP
					</button>
				</div>
				<div class="col text-left">
					<button class="button button-gradient icon-left ion-close" ng-click="showValidating()">
						Cancel
					</button>
				</div>
			</div>
		<div class="row italic" ng-hide="step == 1">
			<div class="col wand"><i class="text-orange wand ion-wand"></i></div> 
			<div class="col">No SMS will be sent for OTP</div>
		</div>


	</ion-content>
</ion-view>
