$text-orange: #f37435;
$text-black: #312925;
$text-red: #CA2828;
$text-green: #32AB1E;
$cream-bg: #eae4d6;
$assertive-orange: #f47435;

.bob-bg {
	background: $cream-bg;
}

.ion-ios-telephone-outline:before {
	font-size: 6.8vw !important;
}

.tap-text {
	font-size: 3vw;
}

.angled-key {
	transform: rotate(120deg);
	margin-top: 1.4vw;
}

.flipped {
	transform: scaleX(-1);
}

label.radio {
	font-size: 2rem;
}

.input-label {
	font-family: 'helvetica';
}

.double-padding {
	padding: 2rem;
}

.contact-us {
	.bob-card-list > .item, .bob-card-list .scroll .item {
		font-size: 0.6rem;
	}
}


.bar .title + .button:last-child, .bar > .button + .button:last-child, .bar > .button.pull-right, .bar .buttons.pull-right, .bar .title + .buttons {
	top: 9px;
}

.login-container {
	.button-row {
		margin-top: 1vw;
		margin-bottom: 1vw;
	}
}

.half-padding {
	padding: 2rem;
}

@media(max-width: 360px){
	.half-padding {
		padding: 2rem;
		padding-top: 0.5rem;
	}
}


.wrapped {
	white-space: normal;
}

.beneficiary-row {
	white-space: normal;
}

.popup-body .item {
	font-size: 0.7rem;
}



.icon-box {
	.two-lines {
		margin-top: -0.4rem;
		line-height: 1em;
	}
	text-transform: uppercase;
	border-radius: 5px;
	margin-bottom: 1px;
	padding: 10px;
	height: 0px;
	width: 90%;
	@media(max-height: 480px) and (min-height: 320px){
		padding-bottom: 58%;
	}
	@media(max-height: 900px) and (min-height: 481px){
		padding-bottom: 70%;
	}
	background: $assertive-orange;
	color: white;

	font-size: 0.5rem;
	.two-lines {
		@media(max-height: 480px){
			font-size: 0.5rem;
		}
		@media(min-height: 481px){
			font-size: 0.7rem;
		}
	}
	img {
		@media(max-height: 480px){
			width: 50%;
		}
		@media(min-height: 481px){
			width: 60%;
		}
	}
	font-weight: bold;
	font-family: 'calibiri';
}



@font-face {
	font-family: 'calibiri';
	src: url('../lib/ionic/fonts/calibiri.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'pragmatica_extra_oblique';
	src: url('../lib/ionic/fonts/pragmatica-extra-oblique.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../lib/ionic/fonts/pragmatica-medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica';
	src: url('../lib/ionic/fonts/HelveticaNeueLTStd-Lt_0.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helvetica_bold';
	src: url('../lib/ionic/fonts/HelveticaNeueLTStd-Bd_0.otf');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "helvetica";
	&.ionic-body {
		font-family: "helvetica";
	}
}

.reflection {
	width: 90%;
	display: block;
}

.menu-grid, .accounts-grid {
	.row {
		.col:nth-child(2) {
			align-items: flex-end;
			display: flex;
			flex-direction: column;
		}
	}
}

.subtitle {
	color: $assertive-orange;
	font-style: italic;
}

.popup-body {
	input {
		border-radius: 3px;
		border: 1px solid $assertive-orange;
	}
}

.popup-head {
	border: 0px;
}

.popup-buttons .button.icon-left {
	line-height: 38px;
}

.menu-overlay {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	position: fixed;
	display: none;
	z-index: 4;
}


.menu-open {
	.menu-overlay {
		display: block;
	}
}


.menu-grid {
	background: #f6f1ed;
	padding-left: 2rem;
	padding-right: 2rem;
}


.button-gradient {
	min-height: 38px;
	font-size: 0.8rem;

	background-image: linear-gradient(#f37435 0%, #c23e20 100%); 
	color: white;
	border: 1px solid #be3d1f;
	&.smaller {
		font-size: 3vw;
	}
	&.icon-left, &.icon-right {
		&:before {
			font-size: 1rem;
		}
	}
}

.copyright {
	font-size: 0.5rem;
}

.mconnect-logo {
	margin-top: 2vw;
	width: 40%;
	margin-bottom: 2vw;
}


.login-logo {
	width: 50%;
}

.avatar {
	img {
		max-width: 100%;
		width: 2rem;
	}
}

.padded-menu {
	margin-top: 1px;
	.item {
		border: 0px;
		background: none;
		border-bottom: 1px solid $assertive-orange;
		a {
			background: none;
			padding-left: 10%;
		}
		border-left: 0px;
		&:last-child {
			border-bottom: 0px;
		}
	}
}

strong {
	font-weight: normal;
	font-family: "helvetica_bold";
}

.profile {
	display: flex;
	align-items: center;
	.avatar {
		@media(max-width: 320px){
			width: 10%;
		}
		a {
			color: #444;
		}
	}

	.user-info {
		font-size: 0.8rem;
		align-items: center;
		justify-content: center;
		display: flex;
	}
	background: white;
}

select {
	font-family: "helvetica";
}

input, button, select, textarea {
	font-family: "helvetica";
}

.img-rounded {
	border-radius: 50%;
}


.round5 {
	border-radius: 5px !important;
}

.straight-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;

}

.card .item:last-child,
.list-inset .item:last-child,
.padding > .list .item:last-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.straight-bottom {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	.item:last-child {
		border-bottom-left-radius: 0px !important;
		border-bottom-right-radius: 0px !important;
	}
}

.form-middle {
	width: 100%;
	.item-divider {
		white-space: normal;
		font-weight: bold;
		font-size: 4.8vw;
	}
}

.mobile-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.login-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.bob-login-box {
	box-shadow: none;
	i {
		color: $text-orange;
		margin-right: 10px;
	}
}

button {
	text-transform: uppercase;
	font-weight: bold;
}

textarea.feedback {
	height: 200px;
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	background: transparent;
	border-radius: 3px;

}

.pull-left {
	float: left;
}

.step-item {
	padding:0px !important;
	line-height: 1.6em;
	background: white !important;
	.active {
		border-bottom: 0px;
		border-right: 1px solid $assertive-orange;
		&.step2 {
			border-right: 0px;
			border-left: 1px solid $assertive-orange;
		}
	}
	.inactive {
		border-bottom: 1px solid $assertive-orange;
		background: #eae3d6;
	}
}

.step-row {
	font-size: 4vw;
	line-height: 8vw;
	text-align: center;
	padding: 0px;
	.col, .col-50 {
		padding-bottom: 10px;
	}
}

.button.bob-options {
	border: 1px solid $assertive-orange;
	font-size: 4.5vw;
	background: white;
	min-height: 26px;
	white-space: normal;
	font-weight: normal;
	line-height: 6vw;
	padding-top: 1vw;

	&:before {
		color: $assertive-orange;
		font-size: 4vw !important;
		line-height: 3vw;
		top: 1.3vw;
		position: relative;
	}
}

.item-password-title {
	padding: 2vw;
	padding-left: 15px;
	border: 0px;
}

.bob-login-box .links {
	margin-top: 10px;
	font-size: 3vw;
}



.bob-card {
	font-size: 4.8vw;
	&.boxed {
		border: 1px solid $assertive-orange !important;
	}
	.item-divider {
		font-weight: bold;
		white-space: normal;
	}
	&.bob-steps {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;

		.button-assertive {
			min-height: 26px;
			line-height: 9vw;
		}
		.bob-label {
			display: flex;
			align-items: center;
		}
		.bob-label-bottom {
			display: flex;
			align-items: flex-end;
		}
		.bob-input {
			margin-left: 0px;
			margin-right: 0px;
			border: 1px solid $assertive-orange;
			background: white;
			max-width: 100%;
		}
		>.item {
			padding-top: 0px;
			padding-bottom: 0px;
			font-size: 4.8vw;
		}

		>.item:nth-of-type(odd){
			background: rgba(255,255,255,0.5);
		}
		.item.separator {
			background: #eae3d6;  
			height: 15px;
		}

		>.item:nth-of-type(even){
			background: rgba(255,255,255,0.1);
		}
	}
	textarea.tnc {
		width: 80%;
		margin: 0px auto;
		height: 200px;
		margin-top: 10px;
		border: 1px solid #ccc;
		padding: 5px;
		background: transparent;
		border-radius: 3px;
	}
	&.straight-top {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;

	}

	&.straight-bottom {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}


	&.no-shadow {
		box-shadow: none;
	}
	&.padded {
		width: 90%;
		margin: 0px auto;
	}
	&.translucent {
		background: rgba(255,255,255,0.3);
	}

	position: relative;
	margin: 0px;
	width: 100%;
	label {
		font-family: "helvetica_bold";
		font-size: 4.5vw;
	}
	.item-toggle {
		padding-bottom: 25px;
		background: none;
	}
	.toggle {
		top: 5px !important;
	}
	>.item {
		background: none;
		&.faq-body {
				background: rgba(255,255,255,0.5);
				text-align: left;
				white-space: normal;
		}
		&.faq-header {
			background: white;
			text-align: left;
		}

		border: 0px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.item-divider {
		background: $text-orange;
		color: white;
		padding-bottom: 5px;
		white-space: normal;
		&.straight-top {
			border-top-left-radius: 0px;
			border-top-right-radius: 0px;

		}

		&.straight-bottom {
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}


	}
	.bob-input {
		margin-left: 16px;
		margin-right: 16px;
		margin-top: 5px;
		background: rgba(255,255,255,0.45);
		padding: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
		&.orange {
			border-color: $assertive-orange;
		}
	}
	border-radius: 10px;
	background: #f6f1eb;
}

.text-orange {
	color: $assertive-orange;
}

.wand {
	font-size: 2rem;
}


button.padded {
	padding-left: 30px;
	padding-right: 30px;
}

.bob-list {

	.item {
		background: rgba(255,255,255,0.45);
		border: 0px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.button-row {
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
	align-items: center;
	button {
		font-family: helvetica_bold;
	}
	a {
		color: $text-black;
		font-family: helvetica_bold;
	}
}
.home-item {
	.item-content {
		padding-right: 10px;
		i {
			font-weight: bold;
		}
	}
}
.text-right {
	text-align: right;
}
.link-row {
	margin-top: 30px;
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	a {
		text-decoration: none;
	}
}

.login-elements {
	padding-bottom: 0.1rem;
}



.login-banner {
	width: 100%;
	height: 5.1rem;
	margin: 0px auto;
	img {
		width: 100%;
	}
}

.icon-row {
	font-weight: bold;
	font-size: 0.8rem;
	color: #444;
	margin-top: 0.3rem;
	text-align: center;
	img {
		width: 50%;
	}
}
.col-25 {
	-webkit-box-flex: 1;
	width: 25%;
}



@media(min-width: 321px){
	.icon-row {
		img {
			width: 75%;
		}
	}
}

.bar .title {
	width: 100%;
}
.bar .back-button.hide, .bar .buttons .hide {
	display: block;
}

body.menu-open {
	.menu.menu-right {
		top: 74px;
		min-height: 80%;
		max-height: 100%;
		z-index: 1 !important;
		background: rgba(255,255,255,1);
		.item-assertive {
			padding-left: 10%;
			font-family: "helvetica_bold";
			&:first-of-type{
				border-top: none;
			}
		}
	}
}

.available-balance {
	color: $text-black;
	padding: 15px;
	font-size: 1em;
	line-height: 2em;
}

.fullwidth {
	width: 100%;
}

.transactions-table {
	background: $cream-bg;
	font-size: 3vw;
}

.table {
	width: 100%;
	tbody tr:nth-child(odd) {
		background-color: white;
	}
	tbody tr:nth-child(even) {
		background-color: rgba(255,255,255,0.5);
	}
	td, th {
		padding: 5px;
		//border: 1px solid rgba(255,91,53,0.15);
	}
	td {
		font-size: 0.9em;
		color: $text-black;
		&.debit {
			color: $text-red;
		}

		&.credit {
			color: $text-green;
		}

	}
	th {
		color: $text-orange;
		font-family: helvetica_bold;
	}
}

.no-item-padding {
	.item {
		padding: 0px !important;
	}
}

.bob-card-list {
	font-size: 4.8vw;

		.bob-label {
			display: flex;
			align-items: center;
		}

	a {
		color: $text-orange;
		text-decoration: none;
	}
		&.padded .item{
			padding-top: 10px;
			padding-bottom: 10px;
		}

	>.item, .scroll .item {
		padding-top: 0px;
		white-space: normal;
		padding-bottom: 0px;
		font-size: 4.8vw;
		.row {
			font-size: 4.8vw;
		}
	}

	>.item:nth-of-type(odd), .scroll .item:nth-of-type(odd){
		background: rgba(255,255,255,0.3);
	}
	>.item:nth-of-type(even), .item:nth-of-type(even){
		background: white;
	}
}

.bob-card-table {
	margin-top: 30px;
}

.white-border {
	border-bottom: 1px solid #f69667 !important;
	border-color: #f69667 !important;
}


.italic {
	font-family: 'pragmatica_extra_oblique';
}

.text-upper {
	text-transform: uppercase;
}

.padding {
	padding: 2rem;
}

.arrow-box {
	overflow: visible;
}
.arrow-box:before {
	bottom: 100%;
	right: 2%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(244, 116, 53, 0);
	border-bottom-color: #f47435;
	border-width: 10px;
	margin-left: -10px;
}

.button-gradient.icon-left:before {
	line-height: 37px;
}

.button-gradient.icon-right:before {
	line-height: 37px;
}


.right-buttons {
	.button-icon {
		&:before {
			font-size: 24px !important;
			line-height: 24px !important;
		}
	}
}


.wide-popup {
	.popup {
		width: 90%;
		border-radius: 0px;
	}
}

.toggle-small .toggle-assertive input:not(:checked) + .track {
	&:before {
		content: "OFF";
		color: $text-orange;
		font-size: 10px;
		right: 15px;
		top: 7px;
		position: absolute;

	}
}


.toggle-small .toggle-assertive input:checked + .track {
	&:before {
		content: "ON";
		color: white;
		font-size: 10px;
		left: 10px;
		top: 7px;
		position: absolute;

	}
	.handle {
		border-radius: 27px !important;
	}
}


@media(min-height: 481px) and (max-height: 700px){
	.login-logos {
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.login-container {
		>div {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	}
}

@media(min-height: 650px){
	.login-logos {
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.login-container {
		>div {
			margin-top: 2%;
			margin-bottom: 2%;
		}
	}

}


.home-panel {
	@media(min-height: 660px){
		margin-top: 10%;
	}
}

.loading-container .loading {
	background: none;
}

.spinner svg {
	width: 50px;
	height: 50px;
}
.spinner-android {
	stroke: $assertive-orange;
}

.wand {
	flex: 0.1;
	width: 15%;
}

.title {
	img {
		height: 65% !important;
		margin-top: 10px !important;
	}
}

.caret {
	color: $text-orange;
	font-size: 0.6rem;
}

@media(max-width: 320px){
	.bar .button, .bar button {
		padding: 0 5px;
	}
}

@media(min-height: 700px){
	.login-elements {
		padding-bottom: 2rem;
	}
	.login-container {
		.icon-row {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}

}

@media(min-height: 481px) and (max-height: 699px){
	.login-banner {
		margin-top: 0.5rem !important;
		margin-bottom: 0.5rem !important;
	}
	.login-container {
		.icon-row {
			margin-top: 0.7rem;
			margin-bottom: 0.7rem;
		}
	}
}

.col-10 {
	width: 10%;
}

.col-90 {
	width: 90%;
}

.col-50 {
	width: 50%;
}

.col-75 {
	width: 75%;
}
